@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    border : none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Kaisei Decol', sans-serif;
}

:root{
    --bg-color : #E3E4E4 ;
    --second-bg-color : lightgray;
    --text-color : #0F100F ;
    --main-color: #D4D4D4;
    --section-color: #463b3b;
}

html{
    font-size:62.5%;
    overflow-x: hidden;
}

body{
    background-color: #C5C7C6;
    color: var(--text-color);
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 100%;
    padding: 1rem 6%;
    border-bottom: var(--main-color) solid .2px;
    z-index: 100;
}

.logo{
    font-size:2.5rem;
    color: white;
    text-decoration: none;
    font-weight:600;
}

#menu-icon{
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 650px){
    .banner{
        height: 80vh;
    }

    #menu-icon {
        display: block;
        color: white;
        font-size: 2.5rem;
    }

    #nav #menu-icon:before {
        content: '\2630';
    }

    #nav {
        background-color: black;
        opacity: 80%;
        color: #696767;
        width: 100%;
        left: -100%;
        position: fixed;
        top:5rem;
        display: flex;
        flex-direction: column;
        transition: .25s;
    }

    #nav a {
        padding: 1rem 0;
    }
    nav a:hover{
        color: white;
    }

    #nav.navbar a{
        left: 0;
    }
}

nav a{
    font-size:1.7rem;
    color : #adadad;
    text-decoration: none;
    font-weight: 500;
    margin-left:3.5rem;
    transition: .3s;
}

nav a:hover, .navbar a:focus{
    color: white;
}

.banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url('../img/Pink and cream facebook banner .png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.accueil {
    font-size:25px;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 9%;
    line-height: 1.5;
}

.accueil-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 190px;
    max-width: 60rem;
}

.accueil-content h1{
    color:rgba(227, 228, 228, 0.70);
    opacity: 20%;
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.accueil-content h3{
    color:rgba(227, 228, 228, 0.70);
    opacity: 70%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.accueil-content h1, .accueil-content h3 {
    animation: fadeIn 1s ease forwards;
    opacity: 0;
}

.accueil-content .btn-box {
    display: flex;
    justify-content: center;
    margin-top : 15rem;
    max-width: 35rem;
    width: 345px;
    height: 50px;
}

.btn-box{
    position : relative;
}

.btn-box a {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border :2px solid var(--main-color);
    color: var(--main-color);
    background-color: transparent;
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 16rem;
    font-size: 1.6rem;
    text-decoration: none;;
    letter-spacing: .1rem;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: var(--section-color);
}

.accueil .btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.accueil-content .accueil-content-txt{
    transition: .5s;
    text-align: center;
}

.heading{
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    color: var(--section-color);
    margin-bottom: 3.5rem;
}

/*--------------------- BANNER BOTOM ---------------------*/


.banner-bottom{
    background-color: var(--second-bg-color);
}

.banner-bottom h2{
    padding: 2rem;
    font-size: 3.5rem;
    text-align: center;
}

.object{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-bottom-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    margin: 0 auto;
    padding: 3rem;
}

.banner-bottom img {
    width: 65px;
    height: auto;
}

/*--------------------- BANNER BOTOM RESPONSIVE ---------------------*/

@media screen and (max-width:600px) {
    .banner-bottom-content {
        flex-direction: row;
        align-items: center;
        gap: 2.5rem;
        width: 95%;
    }
}

@media screen and (max-width:400px) {
    .banner-bottom-content {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
}


/*_____________________ ABOUT _____________________*/

.about {
    background-color: #DEE0E0;
}

.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.about-content-img img {
    width: 300px;
    height: auto;
    padding-left: 3rem;
    transform: translateX(50px);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.about-content-img img.in-view {
    transform: translateX(0);
    opacity: 1;
}


.about-content-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.about-content-txt p{
    font-size: 1.5rem;
    line-height: 1.5;
    color: var(--section-color);
    margin-bottom: 2rem;
    width: 400px;
    height: auto;
}

/*--------------------- ABOUT RESPONSIVE ---------------------*/

@media screen and (max-width:700px) {
    .about-content {
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
    }

    .about-content-img img {
        width: 200px;
        height: auto;
        padding-left: 0;
    }

    .about-content-txt p {
        padding: 0 4rem;
    }
}
/*_____________________ FAQ _____________________*/

.faq {
    background: #D4D4D4;
    padding: 6%;
}

.faq-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.faq-content-txt h3{
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--section-color);
    margin-bottom: 2.5rem;
}

.faq-content-txt p{
    font-size: 1.8rem;
    line-height: 1.5;
    color: var(--section-color);
    margin-bottom: 2rem;
    width: 400px;
    height: auto;
}

.faq-content-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.faq-content-img img{
    width: 300px;
    height: auto;
    padding: 0 3rem;

}

/*_____________________ FAQ RESPONSIVE _____________________*/

@media screen and (max-width:700px) {
    .faq-content {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .faq-content-img img {
        display: none;
    }

    .faq-content-txt p {
        font-size: calc(1.8rem - 0.2rem);
    }

    .faq-content-txt h3 {
        font-size: calc(3.5rem - 0.2rem);
    }

    .faq-content-txt p, .faq-content-txt h3 {
        padding: 0 4rem;
    }
}

/*_____________________ SLIDER _____________________*/


.slider-container {
    position: relative;
    max-width: 1200px;
    width: 95%;
    margin-left: 18px;
    padding: 2rem;
}

.slider-wrapper {
    position: relative;
}

.slider-wrapper .slide-button{
    position: absolute;
    height: 20px;
    width: 20px;
    top: 50%;
    border-radius: 50%;
    font-size: 1.5rem;
    background-color: darkgrey;
    color: var(--section-color);
    cursor: pointer;
    border : none;
    outline: none;
    transform: translateY(-50%);
    transition: .5s;
}

.slider-wrapper .slide-button:hover{
    background-color: #7a7a7a;
}

.slider-wrapper .slide-button#prev-slide{
    left: -1px;
}

.slider-wrapper .slide-button#next-slide{
    right: -20px;
}

.slider-container h2 {
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--section-color);
    margin-bottom: 2.5rem;
    text-align: center;
}

.slider-wrapper .img-list {
    display: grid;
    gap:18px;
    overflow-x: auto;
    font-size: 0;
    grid-template-columns: repeat(10, 1fr);
    scrollbar-width: none;
    margin-bottom: 30px;
    margin-left: 18px;
}

.slider-wrapper .img-list::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .img-list .img-item {
    width: 150px;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.slider-wrapper .img-list .img-item:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
}

.slider-container .slider-scrollbar{
    display: flex;
    align-items: center;
    height: 24px;
    width: 100%;
}

.slider-scrollbar .scrollbar-track{
    position: relative;
    border-radius: 4px;
    height: 2px;
    width: 100%;
}

/*____________________CONTACT______________________*/

.contact {
    min-height :auto;
    padding : 7rem;
    background-color: #C5C7C6;
}

.contact form{
    max-width : 70rem;
    margin : 0 auto;
    padding: 2rem;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin : .8rem 0;
}
.contact form .focus {
    position: absolute;
    top : 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: transparent;
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus{
    width: 100%;
}

.contact form .input-box .input-field input, .contact form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding : 1.5rem;
    font-size: 1.6rem;
    background-color: var(--section-color);
    border-radius: .6rem;
    border : .2rem solid var(--main-color);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color : var(--second-bg-color);
}

.contact form .textarea-field {
    position: relative;
    margin : .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea{
    resize: none;
}

.contact form .btn-box.btns btn {
    cursor: pointer;
}

#submit {
    margin: 0 auto;
    width: 100%;
    height: 5rem;
    background-color: var(--section-color);
    border-radius: .6rem;
    border : .2rem solid var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    transition: .5s;
}

#submit:hover {
    background-color: #2a2424;
}

/*_____________________ FOOOTER _____________________*/

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background : transparent;
    color: var(--section-color);
    border : .2rem solid var(--section-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a:before{
    content: '';
    position: absolute;
    top: 0;
    left : 0;
    width: 0;
    height: 100%;
    background-color: transparent;
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before{
    font-size: 2.4rem;
    width: 100%;
}

.footer-iconTop a i {
    font-size: 2.4rem;
}

.footer-iconTop a:hover i{
    color: #362E2E;
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--second-bg-color);
    height: 20rem;
    padding: 6%;
    font-size: 1.5rem;
}

.footer a {
    color: var(--section-color);
    margin-bottom: 1rem;
    text-decoration: none;
}

#droit{
    margin-top:2rem;
}

.footer h3 {
    color: var(--section-color);
    margin-bottom: 1rem;
}